public_html/A-Inicio/Inicio.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Inicio">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sudaderas" type="xs:string"/>
                <xs:element name="camisetas" type="xs:string"/>
                <xs:element name="contacto" type="xs:string"/>
                <xs:element name="acerca" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
